.site-header {
  padding: 10px 0;
  position: absolute;
  z-index: 2;
  background-color: rgba($mainBlue, .2);
  width: 100%;

  &__btn-container {
    display: none;

    @mixin atSmall {
      display: block;
      float: right;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 25%;
    transform: translateX(-50%);
    background-color: rgba($mainBlue, .52);
    padding: 1.5rem;

    @mixin atSmall {
      position: absolute;
      top: 0;
      left: auto;
      transform: translateX(0%);
      background-color: rgba($mainBlue, .52);
      padding: 3.5rem;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    position: absolute;
    top: 10px;
    right: 10px;

    @mixin atMedium {
      opacity: 0;
      transform: scale(1.2);
      transition: all .3s ease-out;
      position: relative;
      z-index: -10;
      padding-top: 90px;
      text-align: center;
    }
  }

    &__menu-content {
      display: none;


      @mixin atMedium {
        display: block;
      }

      &--is-visible {
      display: block;
      opacity: 1;
      z-index: 1;
      transform: scale(1);
      }
    }
  }
