.site-header {
  padding: 10px 0;
  position: absolute;
  z-index: 2;
  transition: background-color .3s ease-out;
  width: 100%;

  &--is-expanded {
    background-color: rgba($mainBlue, .55);

  }

  /* @mixin atMedium {
      &--is-expanded {
      display: none;
    }
  }*/

  &__btn-container {
    display: none;

    @mixin atSmall {
      display: inline-block;
      float: right;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 25%;
    transform: translateX(-50%);
    background-color: rgba($mainBlue, .52);
    padding: 1.5rem;

    @mixin atSmall {
      position: absolute;
      top: 0;
      left: auto;
      transform: translateX(0%);
      background-color: rgba($mainBlue, .52);
      padding: 3.5rem;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    @mixin atMedium {
    display: none;
    }
  }

    &__menu-content {
      opacity: 0;
      transform: scale(1.2);
      transition: all .3s ease-out;
      position: relative;
      z-index: -10;
      padding-top: 100px;
      text-align: center;


      @mixin atMedium {
        opacity: 1;
        z-index: 1;
        padding-top: 0;
      }

      &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
      }

    }
  }
