/* Equals Large-here */

.top-box {
 padding: 0 1.2rem 2.5rem;
 border-bottom: 10px solid $mainGreen;
 position: relative;
 /*width: 100%;
 padding-top: 0px;*/
 background-color: $mainGrey;

 @mixin atMedium {
  padding-top: 5rem;
  border-bottom: 10px solid $mainGreen;
  position: relative;
  /*width: 100%;
  padding-top: 0px;*/
  background-color: $mainGrey;

  @mixin clearfix;
 }

 @mixin atLarge {
  padding: 0 18px 28px;
  border-bottom: 10px solid $mainGreen;
  position: relative;
  /*width: 100%;
  padding-top: 0px;*/
  background-color: $mainGrey;

  @mixin clearfix;
 }

 &__btn {

  @mixin atMedium {
     display: none;
   }


 }


  &__image {
    display: block;
    padding: 10 10px 0 10px;
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  &__image-small {
    display: block;
    padding: 0 10px 0 10px;
    opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  &__text-content-small {
    display: block;
    text-align: left;


    @mixin atMedium {
      display: none;
    }

    @mixin atLarge {
      display: none;
    }

    @mixin atLarger {
      display: none;
    }
  }
  &__text-content-small ul {
    display: block;
    margin: .5rem;
    list-style: square;
    padding: 1rem 1rem;
    color: $mainGreen;
    line-height: 1.2rem;

    @mixin atMobile {
      padding: 0 0 0 5rem;
    }
  }

  &__text-content-small_description {
    max-width: 100%;
    font-weight: 200;
    color: $mainBlue;
    font-size: 1.6rem;
    text-shadow: 2px 2px 0 rgba(47, 85, 114 .5);
    margin: 0 auto;
    line-height: 1rem;
    padding-top: 1rem;
    padding-bottom: 0;
    text-align: center;
  }

  &__text-content-small ul li {

    font-size: 1.5rem;
    padding-top: 1.5rem;
  /*  width: 50%;
    display: block;
    float: left;
    text-align: center;
    margin: 0 auto;
    list-style: none;*/
  }


  &__text-content {
    display: none;
  /*  position: relative;
    top: 4%;*/
    /*transform: translateY(10%);*/
  /*  left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem; */


    @mixin atMedium {
      display: block;
      padding: 3.5rem 6.25rem 6.25rem;
      position: absolute;
      top: 0%;
      transform: translateY(5%);
    /*  transform: translateY(-50%);*/
      left: 0;
      width: 100%;
      text-align: center;

    }

    @mixin atLarge {
      padding: 40px  10px 10px 10px;
      position: absolute;
      top: 0%;
      transform: translateY(10%);
    /*  transform: translateY(-50%);*/
      left: 0;
      width: 100%;
      text-align: center;

    }

    @mixin atLarger {
      padding: 90px 10px 10px 10px;
      position: absolute;
      top: 0%;
      transform: translateY(0%);
    /*  transform: translateY(-50%);*/
      left: 0;
      width: 100%;
      text-align: center;

    }
  }

  &__title {
    display: none;
  /*  font-weight: 300; */
  /*  font-size: 1.1rem;*/
  /*margin: 0;*/

    @mixin atMedium {
    display: block;
    color: $mainBlue;
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 0 0 0;
    }

    @mixin atLarge {
    display: block;
    color: $mainBlue;
    font-size: 4rem;
    font-weight: 700;
    border-radius: 25px;
    margin: 0 auto;
  /*  background-color: $mainGrey;*/
    max-width: 100%;

    }

  }

    &__subtitle {
    max-width: 100%;
    font-weight: 500;
    color: $mainGreen;
    font-size: 2rem;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    margin-left: auto;
    margin-right: auto;
    line-height: 1.75rem;
    padding-top: 1rem;
    width: 90%;

    @mixin atSmall {
    font-size: 1.9rem;
    }

    @mixin atMedium {
      font-size: 1.15rem;
      border-radius: 25px;
      line-height: 1.5rem;
      width: 75%;
      background-color: $mainGrey;
      padding: 0;
      margin: 10px auto;
    }

    @mixin atLarge {
    font-size: 1.5rem;
    border-radius: 25px;
    line-height: 1.5rem;
    width: 60%;
    background-color: $mainGrey;
    }

    @mixin atLarger {
    font-size: 2.2rem;
    border-radius: 25px;
    line-height: 2.5rem;
    width: 70%;
    background-color: $mainGrey;
    }
  }

  &__description {
    max-width: 300px;
    font-weight: 200;
    color: $mainBlue;
    font-size: 1.8rem;
    text-shadow: 2px 2px 0 rgba(47, 85, 114 .5);
    margin-left: auto;
    margin-right: auto;
    line-height: 1rem;
    padding: 10px;

    @mixin atMedium {
      max-width: 300px;
      font-weight: 200;
      color: $mainBlue;
      font-size: 1.8rem;
      text-shadow: 2px 2px 0 rgba(47, 85, 114 .5);
      margin-left: auto;
      margin-right: auto;
      line-height: 1rem;
      padding-bottom: 0px;

    }

    @mixin atLarge {
      max-width: 300px;
      font-weight: 200;
      color: $mainBlue;
      font-size: 1.8rem;
      text-shadow: 2px 2px 0 rgba(47, 85, 114 .5);
      margin-left: auto;
      margin-right: auto;
      line-height: 1rem;
      padding: 8px;
      background-color: $mainGrey;
      border-radius: 25px;
    }

    @mixin atLarger {
      max-width: 300px;
      font-weight: 200;
      color: $mainBlue;
      font-size: 1.8rem;
      text-shadow: 2px 2px 0 rgba(47, 85, 114 .5);
      margin-left: auto;
      margin-right: auto;
      line-height: 1rem;
      padding: 20px;
      background-color: $mainGrey;
      border-radius: 25px;
    }
  }

    &__description h3 {
      @mixin atMedium {
        margin: 3em 0 0 0;
        padding: 0;
      }
    }
}
