/* Equals Large-here */

.top-box {

 border-bottom: 10px solid $mainGreen;
 position: relative;
 /*width: 100%;
 padding-top: 0px;*/
 background-color: $mainGrey;

 @mixin clearfix;


 @mixin atMedium {
  padding: 0;
  border-bottom: 10px solid $mainGreen;
  position: relative;
  /*width: 100%;
  padding-top: 0px;*/
  background-color: $mainGrey;


  @mixin clearfix;
 }

 &__btn {

   @mixin atMedium {
     display: none;
   }


 }


  &__image {
    display: block;
    padding: 10 10px 0 10px;
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  &__image-small {
    display: block;
    padding: 0 10px 0 10px;
    opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }


  &__text-content {
    position: absolute;
    top: 4%;
    transform: translateY(10%);
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;


    @mixin atMedium {
      padding: 60px  10px 10px 10px;
      position: absolute;
      top: 0%;
      transform: translateY(5%);
    /*  transform: translateY(-50%);*/
      left: 0;
      width: 100%;
      text-align: center;

    }

    @mixin atLarge {
      padding: 100px  10px 10px 10px;
      position: absolute;
      top: 0%;
      transform: translateY(10%);
    /*  transform: translateY(-50%);*/
      left: 0;
      width: 100%;
      text-align: center;

    }

    @mixin atLarger {
      padding: 100px 10px 10px 10px;
      position: absolute;
      top: 0%;
      transform: translateY(0%);
    /*  transform: translateY(-50%);*/
      left: 0;
      width: 100%;
      text-align: center;

    }
  }

  &__title {
    display: none;
  /*  font-weight: 300; */
  /*  font-size: 1.1rem;*/
  /*margin: 0;*/

    @mixin atMedium {
    display: block;
    color: $mainBlue;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    }

    @mixin atLarge {
    display: block;
    color: $mainBlue;
    font-size: 4rem;
    font-weight: 700;
    border-radius: 25px;
    margin: 0 auto;
    background-color: $mainGrey;
    max-width: 75%;

    }

  }

    &__subtitle {
    max-width: 100%;
    font-weight: 700;
    color: $mainGreen;
    font-size: 1.25rem;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    margin-left: auto;
    margin-right: auto;
    line-height: 1.75rem;
    padding-top: 11px;
    width: 90%;

    @mixin atSmall {
    font-size: 1.9rem;
    }

    @mixin atMedium {
    font-size: 1.2rem;
    /*max-width: 30rem;*/
    line-height: 2rem;
    width: 100%;
    }

    @mixin atLarge {
    font-size: 1.9rem;
    border-radius: 25px;
    line-height: 2.5rem;
    width: 45%;
    background-color: $mainGrey;
    }
  }

  &__description {
    max-width: 300px;
    font-weight: 200;
    color: $mainBlue;
    font-size: 1.8rem;
    text-shadow: 2px 2px 0 rgba(47, 85, 114 .5);
    margin-left: auto;
    margin-right: auto;
    line-height: 1rem;
    padding: 10px;

    @mixin atMedium {
      max-width: 300px;
      font-weight: 200;
      color: $mainBlue;
      font-size: 1.8rem;
      text-shadow: 2px 2px 0 rgba(47, 85, 114 .5);
      margin-left: auto;
      margin-right: auto;
      line-height: 1rem;
      padding-bottom: 40px;

    }

    @mixin atLarge {
      max-width: 300px;
      font-weight: 200;
      color: $mainBlue;
      font-size: 1.8rem;
      text-shadow: 2px 2px 0 rgba(47, 85, 114 .5);
      margin-left: auto;
      margin-right: auto;
      line-height: 1rem;
      padding: 20px;
      background-color: $mainGrey;
      border-radius: 25px;
    }

    @mixin atLarger {
      max-width: 300px;
      font-weight: 200;
      color: $mainBlue;
      font-size: 1.8rem;
      text-shadow: 2px 2px 0 rgba(47, 85, 114 .5);
      margin-left: auto;
      margin-right: auto;
      line-height: 1rem;
      padding: 20px;
      background-color: $mainGrey;
      border-radius: 25px;
    }
  }
}
