.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &__background {
    background-color: rgba($mainGrey, .75);
    border-radius: 25px;
  }

}
